@font-face {font-family: "iconfont";
  src:url('https://at.alicdn.com/t/font_1419176_avmx5m2wizm.ttf') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxinlangweibo:before {
  content: "\e601";
}

.iconzhuanfa:before {
  content: "\e6c4";
}

.iconzhifubao:before {
  content: "\e63b";
}

.iconweixinzhifu:before {
  content: "\e62a";
}

.iconshoucang1:before {
  content: "\e60f";
}

.iconjia:before {
  content: "\e641";
}

.iconflow:before {
  content: "\e612";
}

.icongengduoda:before {
  content: "\e633";
}

.iconpaizhao:before {
  content: "\e61f";
}

.icondianzan1:before {
  content: "\e614";
}

.iconweixin:before {
  content: "\e64f";
}

.icon918caidan_wenjian:before {
  content: "\e683";
}

.iconshipin:before {
  content: "\e678";
}

.iconkuaitui:before {
  content: "\e878";
}

.iconkuaijin:before {
  content: "\e879";
}

.iconyinliang:before {
  content: "\e87a";
}

.icondanmushu:before {
  content: "\e665";
}

.iconbofangshu:before {
  content: "\e666";
}

.iconbofangqi-danmuguan:before {
  content: "\e696";
}

.iconbofangqi-danmukai:before {
  content: "\e697";
}

.iconcai2:before {
  content: "\e6c6";
}

.iconshuaxin:before {
  content: "\e604";
}

.iconguanzhu:before {
  content: "\e60a";
}

.iconbizhongguanli:before {
  content: "\e626";
}

.icongengduo:before {
  content: "\e64c";
}

.iconjinbi:before {
  content: "\e6ee";
}

.icondianzan2:before {
  content: "\e63c";
}

.iconshoucang:before {
  content: "\e613";
}

.icondashujukeshihuaico-:before {
  content: "\e800";
}

.iconbrightj2:before {
  content: "\e685";
}

.iconjinru:before {
  content: "\e60c";
}

.iconfanhui:before {
  content: "\e60d";
}

.iconguanbi:before {
  content: "\e6aa";
}

.icondianzan:before {
  content: "\e6eb";
}

.iconfenlei:before {
  content: "\e76b";
}

.iconzanting:before {
  content: "\e693";
}

.iconQQ:before {
  content: "\e71f";
}

.iconzanting2:before {
  content: "\e605";
}

.iconshezhi:before {
  content: "\e695";
}

.iconsuo:before {
  content: "\e620";
}

.iconxiaoxi:before {
  content: "\e61a";
}

.iconiconfront-:before {
  content: "\e611";
}

.iconlishi:before {
  content: "\e616";
}

.iconcai:before {
  content: "\e840";
}

.iconbofang:before {
  content: "\e63a";
}

.iconfaxian:before {
  content: "\e6bd";
}

.iconwode:before {
  content: "\e6c5";
}

.iconcai1:before {
  content: "\e701";
}

.iconbofang1:before {
  content: "\e61d";
}

.iconzanting1:before {
  content: "\e61e";
}

.iconxianxingtubiao-px-faxian-n:before {
  content: "\e621";
}

.icondingdanwenjian:before {
  content: "\e615";
}
